body {
    background: rgb(20, 20, 20);
    color: rgb(220, 220, 220);
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    font-family: "toppan-bunkyu-mincho-pr6n", serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* オープニング */

.open {
    opacity: 0;
    width: 0;
    height: 0;
    animation: opening 2s ease 0s 1 normal;
    position: absolute;
    left: 0;
    top: 0;
    background: black;
    z-index: 1000;
}

@keyframes opening {
    0% {
        opacity: 1;
        width: 100%;
        height: 100%;
    }
    20% {
        opacity: 1;
    }
    99.9% {
        width: 100%;
        height: 100%;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

/* タイトル */

header {
    font-size: 60%;
    text-align: center;
    margin: 0 0 2% 0;
}

h1 {
    margin: 0;
}

/* ポスター選択 */

.contentsBox {
    display: flex;
    margin: 0 2% 0 2%;
    text-align: center;
}

.contents {
    display: flex;
    text-align: center;
}

/* 携帯のみ（縦並び）*/

@media screen and (max-width:639px) {
    .contentsBox {
        flex-direction: column;
        padding: 0 2% 0 2%;
    }
    /* 調整 */
    .contents {
        margin: 1%;
    }
}

.poster {
    width: 40%;
    margin: auto;
}

/* 携帯のみ（ポスターサイズ調整）*/

@media screen and (max-width:639px) {
    .poster {
        width: 45%;
    }
}

.maxTop {
    max-width: 100%;
}

.maxTop:hover {
    animation: darken 1s ease 0s 1 normal;
    filter: brightness(60%);
    cursor: pointer;
}

.max {
    max-width: 100%;
}

/* PCのみ（解説表示切り替えホバー） */

@media screen and (min-width:640px) {
    .max:hover {
        animation: darken 1s ease 0s 1 normal;
        filter: brightness(60%);
        cursor: pointer;
    }
}

@keyframes darken {
    0% {
        filter: brightness(100%);
    }
    100% {
        filter: brightness(60%);
    }
}

/* オーバーレイ */

#pop-up01, #pop-up02, #pop-up03, #pop-up04, #pop-up05 {
    display: none;
}

.overlay01, .overlay02, .overlay03, .overlay04, .overlay05 {
    display: none;
}

#pop-up01:checked+.overlay01, #pop-up02:checked+.overlay02, #pop-up03:checked+.overlay03, #pop-up04:checked+.overlay04, #pop-up05:checked+.overlay05 {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: rgb(20, 20, 20);
    z-index: 10;
    /* フェードイン */
    animation: fadeIn 0.5s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ウィンドウ */

.window {
    width: 80%;
    height: 80%;
    margin: 5% auto 5% auto;
}

/* PCのみ（画面外クリックで閉じる） */

@media screen and (min-width:640px) {
    .closeArea {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.info {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

/* 携帯のみ（縦並び）*/

@media screen and (max-width:639px) {
    .info {
        flex-direction: column;
    }
}

/* ポスター */

.imageArea {
    width: 55%;
    margin: auto;
    z-index: 100;
}

.rule {
    text-align: center;
    font-size: 120%;
    width: 60%;
    margin: 10% auto 10% auto;
}

/* 携帯のみ（ポスター、ルール表示サイズ） */

@media screen and (max-width:639px) {
    .imageArea {
        width: 97%;
        margin: 30% 0 2% 0;
    }
    .rule {
        width: 100%;
        margin: 10% auto 10% auto;
    }
}

/* 解説 */

#more01, #more02, #more03, #more04 {
    display: none;
}

/* PCのみ（解説表示切り替え） */

@media screen and (min-width:640px) {
    
    .textArea {
        display: none;
        overflow-y: auto;
        /* フェードイン */
        animation: fadeIn 1s ease 0s 1 normal;
    }
    #more01:checked+.textArea, #more02:checked+.textArea, #more03:checked+.textArea, #more04:checked+.textArea {
        display: block;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }
    #more01:checked+.textArea:before, #more02:checked+.textArea:before, #more03:checked+.textArea:before, #more04:checked+.textArea:before {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        min-height: 100px;
        content: "";
        background: linear-gradient( rgb(20, 20, 20) 5%, transparent 10%, transparent 90%, rgb(20, 20, 20) 95%);
    }
}

.text {
    max-width: 100%;
    text-align: justify;
    margin: 10% 5% 25% 5%;
}

.number {
    font-size: 380%;
    line-height: -10;
}

.what {
    font-size: 180%;
}

.whatAbout {
    font-size: 250%;
}


.figure {
    width: 70%;
    margin: auto auto 10% auto;
    text-align: center;
}

.fig {
    width: 100%;
}

.cap {
    text-align: center;
    font-size: 80%;
}

/* 閉じる */

.closePoint {
    top: 5%;
    right: 10%;
    position: fixed;
    z-index: 100;
}

.X-close {
    color: #ffffff;
    font-size: 200%;
    cursor: pointer;
    font-family: sans-serif;
    padding: 50%;
}

.bottomPoint:hover .X-close {
    animation: click 0.2s ease 0s 1 normal;
    color: #ffffffa1;
}

@keyframes click {
    0% {
        color: #ffffffa1;
    }
    100% {
        color: #ffffff;
    }
}

/* フッター */

footer {
    text-align: center;
    margin: 2% 0 0 0;
}

.about {
    margin: auto;
    padding: 1.5%;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 90%;
    width: 5%;
    filter: brightness(80%);
}

.about:hover {
    animation: click 0.1s ease 0s 1 normal;
    color: #ffffffa1;
}

.textAbout {
    /* overflow-y: hidden; */
    animation: fadeIn 1s ease 0s 1 normal;
    display: block;
    width: 100%;
}

/* PCのみ（スクロールボックス） */

@media screen and (min-width:640px) {
    .textAbout {
        height: 100%;
        overflow-y: scroll;
    }
    .textAbout:before {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        min-height: 100px;
        content: "";
        background: linear-gradient( rgb(20, 20, 20) 2%, transparent 5%, transparent 95%, rgb(20, 20, 20) 98%);
    }
}

@keyframes click {
    0% {
        color: #ffffff;
    }
    100% {
        color: #ffffffa1;
    }
}
